
:root {
    --color-principal: #333;
    --color-secundario: #666;
    --color-acento: #F1A905;
    --color-fondo: #f7f7f7;
    --color-fondo-seccion: #fff;
    --color-terciario: #dad1d181;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-principal);
    line-height: 1.6;
}
a {
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-shadow: none;
    /* Y las propiedades de color y text-decoration del ejemplo anterior */
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
header {
    background-color: var(--color-fondo-seccion);
    display: flex;
    color: var(--color-principal);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-container img {
    margin-left: 60px;
    width: 100px;
    height: auto;
}

.header-text h1 {
    font-size: 50px;
    margin: 0; /* Elimina el margen predeterminado del h1 */
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    background-color: var(--color-acento);
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

nav ul li a {
    color: var(--color-fondo);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

main {
    padding: 20px;
}

/* Hero Section */
.hero-section {
    background-color: var(--color-fondo-seccion);
    display: flex;
    align-items: center;
    
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.hero-content {
    
    flex: 1;
    margin-right: 2rem;
}

.hero-content h2 {
    
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-principal);
}

.hero-content p {
    font-size: 1.1rem;
    color: var(--color-secundario);
    margin-bottom: 2rem;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--color-acento);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e0a000;
}

.hero-image {
    flex: 1;
    text-align: center;

}

.hero-image img {
    
    width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

/* Content Section */
.content-section {
    background-color: var(--color-fondo);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.item-details{
    background-color: var(--color-terciario);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}
.content-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--color-principal);
    border-bottom: 2px solid var(--color-acento);
    padding-bottom: 0.5rem;
}

.content-section p {
    font-size: 16px;
    color: var(--color-secundario);
    margin-bottom: 1rem;
}

.content-section ul {
    list-style: disc;
    margin-left: 2rem;
    color: var(--color-secundario);
}

/* Feature Section */
.feature-section {
    background-color: var(--color-fondo-seccion);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--color-principal);
    border-bottom: 2px solid var(--color-acento);
    padding-bottom: 0.5rem;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.feature-item {
    background-color: var(--color-fondo);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.feature-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    color: var(--color-principal);
}

.feature-item p {
    color: var(--color-secundario);
}

/* Development Details */
.development-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.development-details h4 {
    font-size: 1.2rem;
    color: var(--color-principal);
    margin-bottom: 0.5rem;
}

.development-details p {
    color: var(--color-secundario);
}

.development-details img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

/* Team Section */
.team-section {
    background-color: var(--color-fondo-seccion);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--color-principal);
    border-bottom: 2px solid var(--color-acento);
    padding-bottom: 0.5rem;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.team-member {
    text-align: center;
    background-color: var(--color-fondo);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.team-member:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 3px solid var(--color-acento);
}

.team-member h3 {
    font-size: 1.2rem;
    color: var(--color-principal);
    margin-bottom: 0.5rem;
}

.team-member p {
    color: var(--color-secundario);
}

/*Contacto*/
.contacto{
    padding: 1.5rem;
    
    margin-bottom: 2rem;
    border-radius: 8px;
    
    background-color: var(--color-fondo-seccion);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contacto h1 {
    
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--color-principal);
    border-bottom: 2px solid var(--color-acento);
    padding-bottom: 0.5rem;
}
.contacto-WSP a {
        display: flex;
        align-items: center; /* Centra verticalmente los elementos */
    }
    
    .contacto-image {
        margin-right: 10px; /* Espacio entre el icono y el texto */
    }
    
    /* Opcional: Ajusta el tamaño de la imagen si es necesario */
    .contacto-image {
        width: 30px; 
        height: auto;
    }

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--color-principal);
    color: white;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav ul {
        margin-top: 1rem;
    }

    nav ul li {
        margin: 0 10px;
    }

    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .hero-content h2 {
        font-size: 2rem;
    }

    .hero-image img {
        max-width: 80%;
    }

    .development-details {
        grid-template-columns: 1fr;
    }
}
